.content {
  display: flex;
  flex-wrap: wrap
}

.header__menu {
  display: none;
}

@media screen and (max-width: 439px) {
  .header {
    background-color:  #4d4d33;
  }
  .header__logo {
    width: 100%;
    height: auto;
    transition: width .5s;
  }
  .header__title {
    margin-left: 0;
    font-size: 1.8em;
    padding: .5em;
    vertical-align: bottom;
    transition: width .5s;
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-450px, 0);
    transform: translate(-450px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    vertical-align: center;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
  .w3-row {
    margin: -1em;
  }
  .w3-half {
    width: 100%;
  }
}


@media screen and (max-width: 650px) {
  .w3-half {
    width: calc(100% - 1em);
  }
  .w3-card-nohover {
    margin: -.5em;
    width: calc(100% + 1em);
  }
}


@media screen and (min-width: 440px) and (max-width: 850px) {
  .header {
    background-color: #15100C;
    white-space:nowrap;
  }
  .header__logo {
      width: 50%;
      height: auto;
      transition: width .5s;
    }
  .header__title {
    line-height: 200%;
    font-size: 5.9vw;
    padding: 0 0.25em;
    display: inline-block;
  }
  .nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}


@media screen and (min-width: 850px) {
  .header {
    background-color: #15100C;
  }
  .header__logo {
    height: 100%;
    margin-right: 0.5em;
    transition: width .5s;
  }

  .header__title {
    line-height: 215%;
    padding: 0 0.25em;
    display: inline-block;
  }
  .nav {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  main, .header__inner, .nav, section {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}